*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
main , footer{
    margin: 7px;
}

/* testata sfondo  */
.sfondo{
    width: 100%;
    height: 200px;
    background-image: url('../img/pattern.png');
    background-color: darkcyan;
} 


 #logo{
    height: 80px;
    margin-top: 100px;
    
} 

/* corpo */

h1{
    margin-top: 20px;
    font-size: 40px;
    margin-right: 500px;
}

#booleaner{
    font-size: 20px;
}
span{
    color: aquamarine;
}


/* immagini sotto h1 */
figure .immagini{
    margin-top: 20px;
    height: 555px;
}

img{
    margin-top: 25px;
    height:550px ;
}
/*  descrizioni immagini  */

.description{
    font-size: 12px;
}

/* testo sotto la descrizione dell'immagini */

.paragraph{
    margin-top: 18px;
}

/* lista */
.list{
    margin-top: 40px;
    margin-left: 17px;
}

/* tabella  */

.tabella{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

.td{
width: 335px;
height: 65px;
}


th{
    background-color: rgb(41, 166, 220);
    color: white;
    text-align: left;
}

.tr{
   
    background-color: rgb(141, 215, 216);
}

/*  immagini piedipagina  */


.piedi-pagina{
    margin-top: 30px;
}

.monitor{
    width: 250px;
    height: 200px;
    margin-top: 15px;
    background-image: url('../img/monitor.jpg');
    background-position: center;
    color: white;
    font-size: 23px;
    padding: 10px;
}

.graph{
    width: 250px;
    height: 200px;
    margin-top: 15px;
    background-image: url('../img/graph.jpg');
    background-position: center;
    color: white;
    font-size: 23px;
    padding: 10px;
    
    
}
